In [1]:
# Analyse data and manipulate data with pandas

## Introduction to Pandas

In [2]:
import pandas as pd

In [4]:
# 2 main types of pandas
# First one is Series and second one is Data Frame
# Series is 1-Dimensional
# Data Frame is 2-Dimensional

In [6]:
series=pd.Series(["BMW","Toyota","Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [7]:
colours=pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [8]:
# Data Frame

In [9]:
car_data=pd.DataFrame({"Car_Make":series,"colour":colours})
car_data

  Car_Make colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White