In [14]:
import numpy as np

## Datatypes and Attributes

In [15]:
# NumPy's main datatype is ndarray

In [16]:
a1=np.array([1,2,3.3])
a1

array([1. , 2. , 3.3])

In [17]:
a2=np.array([[1,3,4.3],
             [2,5,6]])
a2

array([[1. , 3. , 4.3],
       [2. , 5. , 6. ]])

In [18]:
a3=np.array([[[1,2,3],
             [4,5,6],
             [7,8,9]],
             [[10,11,12],
             [13,14,15],
             [16,17,18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [19]:
a4=np.array([[[1,2,3],
             [4,5,6]],
             [[7,8,9],
             [10,11,12]],
             [[13,14,15],
             [16,17,18]]])
a4

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [20]:
a1.shape  # Shape of our array

(3,)

In [21]:
a2.shape

(2, 3)

In [22]:
a3.shape

(2, 3, 3)

In [23]:
a4.shape

(3, 2, 3)

In [24]:
a1.ndim, a2.ndim, a3.ndim, a4.ndim

(1, 2, 3, 3)

In [25]:
a1.dtype

dtype('float64')

In [26]:
a1.size,a2.size,a3.size, a4.size

(3, 6, 18, 18)

In [27]:
type(a1)

numpy.ndarray

In [28]:
# Create a dataframe from NumPy array

In [29]:
import pandas as pd

In [31]:
my_df=pd.DataFrame(a2)
my_df

     0    1    2
0  1.0  3.0  4.3
1  2.0  5.0  6.0

## Creating NumPy arrays

In [34]:
sample_array=np.array([1,2,3])

In [35]:
sample_array

array([1, 2, 3])

In [37]:
ones=np.ones((2,3))   # Give back array filled with 1s
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [39]:
zeros=np.zeros((3,2))
zeros

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [41]:
range_array=np.arange(0,10,1)
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [44]:
random_array=np.random.randint(0,10,size=(3,3))
random_array

array([[4, 9, 8],
       [7, 0, 2],
       [8, 1, 2]])

In [46]:
random_array2=np.random.random((4,5))
random_array2

array([[0.26605175, 0.70610404, 0.27152091, 0.97664857, 0.59136674],
       [0.86321441, 0.81931077, 0.34199711, 0.9180317 , 0.31640466],
       [0.61979309, 0.4972481 , 0.6816239 , 0.3086655 , 0.48811737],
       [0.86350893, 0.28989147, 0.01835791, 0.46342781, 0.30675891]])

In [48]:
random_array3=np.random.rand(4,5)
random_array3

array([[0.49688737, 0.16588122, 0.64118697, 0.76266416, 0.74189363],
       [0.69871052, 0.41919297, 0.89006473, 0.73416474, 0.62214483],
       [0.81889144, 0.66745501, 0.12131806, 0.40549358, 0.33301724],
       [0.94669681, 0.53148518, 0.75434649, 0.34115211, 0.81254307]])